:root {
  --main-color: #1774e4;
  --secondary-color: #36454f;
  --secondary-bg: #eee;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

h3 {
  color: var(--main-color);
  margin-bottom: 5px !important;
}

#course {
  color: var(--main-color);
}

p {
  color: var(--secondary-color);
  margin: 0 !important;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-color);
}

#intro {
  padding: 0 100px 15px 100px;
}

section {
  padding: 20px 100px;
}

section:nth-child(odd) {
  background-color: var(--secondary-bg);
}

.main-color {
  color: var(--main-color);
}

label {
  color: var(--secondary-color);
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 20px 0;
}

@media screen and (max-width: 1120px) {
  .list-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    padding: 0 100px;
  }
}

.left > li:nth-child(odd) {
  color: var(--main-color);
}

.right > li:nth-child(even) {
  color: var(--main-color);
}
